<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95448986677-fb91mdlk4fm2vmlin53k59j8n07c9k3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95448986677-fb91mdlk4fm2vmlin53k59j8n07c9k3m</string>
	<key>API_KEY</key>
	<string>AIzaSyAp4S7kC8zYW6mmO2e1eH-EMlANjnlhQUM</string>
	<key>GCM_SENDER_ID</key>
	<string>95448986677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jger.projetIOS</string>
	<key>PROJECT_ID</key>
	<string>projet-ios-58fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-ios-58fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95448986677:ios:b34b20ce4dee9ec878ad7c</string>
	<key>DATABASE_URL</key>
	<string>https://projet-ios-58fb0.firebaseio.com</string>
</dict>
</plist>